[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
gunicorn = "==20.0.4"

[dev-packages]
black = "==19.3b0"
coverage = "*"
ipdb = "*"
isort = "*"
pre-commit = "*"
mypy = "*"
flake8 = "*"
factory-boy = "==2.12.0"
freezegun = "*"
pylint = "*"

[requires]
python_version = "3.7"

[scripts]
pep = "pre-commit run --all-files"
gunicorn = "gunicorn wsgi:application  --name shortener --workers 2 --bind=0.0.0.0:5000 --capture-output --access-logfile - -t 300"
server = "python manage.py runserver 0:8000"
tests = "coverage run manage.py test"
report = "coverage report -m"
html = "coverage html"
