{% extends 'base.html' %}
{% block extra_meta %}
<meta http-equiv="refresh" content="3;url=/" />
{% endblock %}
{% block body %}
<div class="container shortcut">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops! 404</h1>
                <div class="error-details">
                    Nie ma takiego skrótu
                </div>
                <div class="error-actions">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}